<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <title>One Feed</title>
</head>
<body class="container bg-light text-center mt-5">
    <form action="/updateFeed/<%=data._id  %> "  method="post">
        <p>Name :</p>
        <input type="text" name="name" id="name" value="<%=data.name %> " required>
        <p>Message :</p>
        <textarea name="message" id="message" cols="30" rows="10" required><%=data.message %> </textarea><br>
        <button class="btn btn-primary">Submit</button>
    </form>
</body>
</html>